# Many of our requirements have to be the same as the underlying neutron,
# so while we will list the ones used explicity here, we will not necessarily
# specifiy versionsi
# Oldest version of neutronclient supporting extensions.
python-neutronclient>=2.3.2
a10-openstack-lib>=0.2.1
